@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.background {
    background-color: #FFF5EC;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color:#644D32;
    
}

.logo{
    display: block;
    margin: auto;
    margin-bottom: 0;
}

.title{
    font-weight: 500;
    font-size: 36px; 
    display:flex;
    justify-content: center; 
}

.add{
    padding: 1% 2%;
    background-color: #C29F8C;
    text-decoration: none;
    color: #FFF5EC;
    text-align: center;
    align-items: center;
}

.add:hover{
    background-color: #644D32;
    transition: 0,7s;
}

.align{
    text-align: center;
    padding: 2%;
}

.article{
    display: flex;
    flex-direction: column;
    border-width:3px;
    border-style:solid;
    border-color:#C29F8C;
    margin-bottom: 20px;
    
}

.textarticle{
    display: flex;
    flex: row;
    justify-content: space-around;
}


.textdate{
    font-weight: 500;
    font-size: 20px;
    text-decoration: none; 
    color:#644D32;
    padding: 1% 0;
}

.text{
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color:#644D32;
    vertical-align: auto;
    padding: 1% 0;
}

.btnsize{
    width: 30px;
	height: 30px;
    padding: 10% 0;
}

.parambox{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.param{
    width: 30px;
	height: 30px;
    padding: 50% 0;
    padding-left: 20px;
    padding-right: 20px;
}


.create{
    padding: 1% 3%;
    background-color: #C29F8C;
    color: #FFF5EC;
}

.create:hover{
    background-color: #644D32;
    transition: 0,7s;
}

.form{
    text-align: center;
}

.back{
    padding: 1% 2%;
    background-color: #C29F8C;
    text-decoration: none;
    color: #FFF5EC;
    text-align: center;
    align-items: center;
}

.back:hover{
    background-color: #644D32;
    transition: 0,7s;
}

.back_box{
    padding-top: 20px;
}

.param2{
    width: 30px;
	height: 30px;
    padding: 15% 0;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (max-width: 800px) {

}

.nanimo{
    padding: 1% 0;
}
